.navigation {
  position: relative;
  min-height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;

    .logo {
      width: 100%;
      height: 100%;
    }
  }

  .phone-button {
    position: absolute;
    right: 0.7rem;
    top: 1rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 34px;
    height: 26px;

    .bar {
      height: 4px;
      width: 100%;
      background-color: black;
      border-radius: 3px;
      transition: 500ms ease-in-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background-color: black;
        transition: 500ms ease-in-out;
      }

      &::before {
        transform: translateY(-10px);
      }

      &::after {
        transform: translateY(10px);
      }
    }
  }

  .nav-links-container {
    display: flex;
    align-items: center;

    .nav-link {
      padding: 10px 15px;
      font-size: 1.2rem;
      white-space: nowrap;
      transition: 500ms ease;
      cursor: pointer;

      &:hover {
        background-color: rgba(3, 3, 3, 0.06);
      }
    }
  }
}

@media (max-width: 800px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;

    .logo-container {
      height: 50px;
      width: 50px;
    }

    .phone-button {
      display: flex;

      &.open {
        .bar {
          background-color: transparent;
          transform: translateX(-18px);

          &::before {
            transform: rotate(45deg) translate(10px, -10px);
          }

          &::after {
            transform: rotate(-45deg) translate(10px, 10px);
          }
        }
      }
    }

    .nav-links-container {
      height: 0;
      width: 96%;
      margin: 15px auto;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      overflow: hidden;
      background-color: rgba(3, 3, 3, 0.06);
      transition: 500ms ease-in-out;

      .nav-link {
        margin: 0 10px;
        width: 100%;
        text-align: center;
      }

      &.open {
        height: 126px;
      }
    }
  }
}
