.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-bottom: 30px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 440px) {
    width: auto;

    .buttons-container {
      .button {
        width: 170px;
      }
    }
  }
}
