.product-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  @media screen and (max-width: 800px) {
    margin-top: 10px;
  }

  img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    margin-bottom: 5px;
  }

  button {
    display: none;
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    padding: 0;

    @media screen and (max-width: 800px) {
      display: block;
      opacity: 0.85;
      width: 90%;
    }

    @media screen and (max-width: 340px) {
      width: 100%;
    }
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: block;
    }

    @media screen and (max-width: 800px) {
      img {
        opacity: 1;
      }
    }
  }

  .footer {
    position: relative;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 80%;
      margin-bottom: 15px;
    }

    .price {
      width: auto;
    }
  }
}
